<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartgps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.smartgps.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/smartGPSThemeNoHome" >
        
        <meta-data
            android:name="AA_DB_NAME"
            android:value="smargGPS.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        
        <activity
            android:name="com.smartgps.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.smartgps.activities.SetupNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/smartGPSTheme" >
        </activity>
            
    </application>

</manifest>
